<md-toolbar color="primary">
  <span>
    <button md-raised-button color="primary"
            (click)="toggleFilter(sidenav.open())"
            *ngIf="isOpen==false">
      Filter Jobs
    </button>
    <button md-raised-button color="primary"
            (click)="toggleFilter(sidenav.close())"
            *ngIf="isOpen==true">
      Done
    </button>
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="spacer"></span>
  <span style="margin-right: 1rem;">
    <h3>{{title}}</h3>
  </span>
</md-toolbar>

<md-sidenav-container class="sidenav-container">
  <md-sidenav #sidenav class="sidenav" (close)="toggleButton()">
    <app-filters  [(selectedDistance)]="distance"
                  (selectedDistanceChange)="setDistanceFilter()"
                  [(selectedPlace)]="place"
                  (selectedPlaceChange)="filterByDistance()"
                  [(selectedSalary)]="salary"
                  (selectedSalaryChange)="filterBySalary()">
    </app-filters>
    <!--<pre>-->
      <!--distance {{distance}}-->
      <!--<br>-->
      <!--s: {{salary|json}}-->
    <!--<br>-->
     <!--p : {{place | json}}-->
    <!--<br>-->
    <!--</pre>-->
  </md-sidenav>
  <div class="sidenav-content">
    <div style="width: 100%; margin: 1rem;">
      <app-jobs [place]="place"
                [salary]="salary"
                [distance]="distance"></app-jobs>
    </div>
  </div>
</md-sidenav-container>

